<nav class="navbar navbar-light bg-warning">
  <a class="navbar-brand" href="/index">
    <img src="/images/BrewLogoSolo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
    The Brew Budz
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link btn-dark" href="/index">Search Breweries</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn-dark" href="/signup">Sign up</a>
    </li>
  </ul>
</nav>


<div class="container w-75 p-3 mx-auto" id="signup-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-3">
      <h2>Log in</h2>
      <br>
      <form class="login">
        <div class="form-group">
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <br />
        <div class="form-group">
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <br />
        <button id="signup-btn" type="submit" class="btn btn-default">Log in</button>
        <br />
        <br />
        <p class="Or">Or <a class="log-in-here text-warning" href="signup"> Create New Account </a></p>
      </form>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/login.js"></script>