html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 75px;
  background-color: rgb(31, 30, 30);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h2 {
  color: white;
}

.indexjumbo {
  background-image: url("/images/1.gif");
  background-size: cover;
  min-height: 350px;
  text-align: center;
  text-shadow: 2px 2px lightslategray;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.myprofilejumbo {
  background-image: url("/images/profileimg.jpg");
  background-size: cover;
  min-height: 300px;
  text-align: center;
  text-shadow: 2px 2px rgb(255, 208, 0);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.lead {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.nav-item,
.nav {
  padding-left: 5px;
  padding-right: 5px;
}

.jumbotext {
  opacity: 0;
  animation: fadeInUp 2s ease-in-out 0s forwards;
}

.log-in-here {
  color: white;
}

.Or {
  color: white;
}

#signup-container {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 15%;
}

#email-input,
#password-input {
  background-color: rgb(255, 196, 0);
}

#signup-btn {
  background-color: white;
  color: black;
}

#brewery-results {
  background-color: rgb(255, 196, 0);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#index-card {
  background-color: lightslategray;
}

#brewery-search {
  background: rgb(21, 22, 22);
  color: rgb(255, 196, 0);
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
}

a:link {
  text-decoration: none;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media screen and (max-width: 200px) {
  #footer {
    position: relative;
    top: auto;
    left: auto;
    height: auto;
  }
  #signup-container {
    position: relative;
    top: 20%;
    left: 20%;
  }
}
