.indexjumbo {
  background-image: url("/images/1.GIF");
  background-size: cover;
  min-height: 350px;
  text-align: center;
  text-shadow: 2px 2px lightslategray;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.myprofilejumbo {
  background-image: url("/images/profileimg.jpg");
  background-size: cover;
  min-height: 300px;
  text-align: center;
  text-shadow: 2px 2px rgb(255, 208, 0);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.lead {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-item, 
.nav {
  padding-left: 5px;
  padding-right: 5px;
}

@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.jumbotext {
      opacity: 0; 
      animation: fadeInUp 2s ease-in-out 0s forwards;
}

#footer {
    margin-top: 200px;
}

body {
    background-color: rgb(31, 30, 30);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h2 {
    color: white;
}

#email-input,
#password-input {
  font-size: xx-large;
  background-color:rgb(255, 196, 0);
}

.log-in-here {
  font-size: xx-large;
  color: white;
}

.Or {
  font-size: xx-large;
  color: white;
}

#signup-btn {
  font-size: xx-large;
  background-color: white;
  color: black;
}

a:link {

  text-decoration: none;
}

#brewery-results {
  background-color: rgb(255, 196, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#index-card {
  background-color: lightslategray;
}

#brewery-search {
  background: rgb(21, 22, 22);
  color: rgb(255, 196, 0);
}